* {
    font-family: "Times New Roman", Times, serif;
}

#header {	
    text-align: center;
    background-color: #247BA0;
}

#foto1 {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
}
#foto1:hover{
    width: 100px;
    height: 100px;
    margin: 100px 100px 100px 100px;
    border-bottom: 10px solid blueviolet;
}

ul {
    float: right;
    background-color: #247BA0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: #5ADBFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #5ADBFF;
    height: 22px;
    color: #247BA0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

caption {
    caption-side: bottom;
}

th, td {
    text-align: center;
    padding: 8px;
}

th {
    background-color: #094074;
    color: white;
}

.footer {
    background-color: gray;
    padding: 0.5em;
    text-align: right;
}

.shkk{
color: darkgray;
background-color: black;


}

.kkk{
    size: 60px;
    color: white;
    background-color: black;
}

.llll{
    color: black;
    background-color: #094074;
}
.iiii{
    color: white;
    background-color: black;
}
.hhhh{
    margin: 20px 40px;
}
.eeee{
padding: 50px 100px;

}
.pppp{
    padding: 50px 100px;
    background-color: black;
    color: white;
}


.gal{
    width: max-content;
    background-color: red;
    padding: 10px 200px 0px 100px;
    margin: 0px 0px 0px 100px;
    border: 10px solid blue;
}
th:hover{
    background-color: black;
}
.hasank:hover{
    transition: 2s;
    background-color: blue;
}